body, html {
    height:100%
}

.view {
  height: 100%;
}

.sidenav {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.4);
  height: 35%;
  width: 10%;
  align-self: center;
  top: 25%
}
.card {
  overflow-y: scroll;
  max-height: 500px;
}

.em {
  font-size: 70px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}



#weather-display {
  font-size: 40px;
  margin-left: 20px;  
  font-weight: bold;
}

#weather-city {
  font-weight: bold;
}