body, html {
    height:100%
}

.sidenav {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.4);
  height: 30%;
  width: 10%;
  align-self: center;
  top: 25%
}
.card {
  overflow-y: scroll;
  max-height: 500px;
}